<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="../layout/default">
		
	<!-- component_default  -->
	<th:block layout:fragment="contents">
    	<div class="app-inner-layout app-inner-layout-page">
			<div class="app-inner-layout__wrapper">
				<div class="app-inner-layout__content">
					<div class="container-fluid">
						<!-- component contents start -->
						<div class="tab-content">
							<!-- tap contents start -->
							<!-- class="tab-pane" use-->
							<a th:href="@{/component/list}">eltov list</a> <br><br>
							
							<a th:href="@{/component/regist}">eltov regist</a> <br><br>
							
							<a th:href="@{/component/update}">eltov update</a> <br><br>
							<!-- tap contents end -->
						</div>
						<!-- component contents end -->
					</div>
				</div>
			</div>
		</div>
    </th:block>
</html>


