<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="../layout/default">
		
    <!-- custom style start -->
    <th:block layout:fragment="style"></th:block>
    <!-- custom style end -->
		
	<!-- contents영역  -->
	<!-- 해당 부분을 가져가서 내용을 구현 -->
	<th:block layout:fragment="contents">
    	<div class="app-inner-layout app-inner-layout-page">
			<div class="app-inner-bar">
				<div class="inner-bar-left col-md-3">
					<div>
						<span>장치 스케줄</span><br>
						<a th:href="@{/company/list}">업체 리스트</a><br>
						<a th:href="@{/branch/list}">지점 리스트</a><br>
						<a th:href="@{/main/default}">디폴트 페이지</a><br>
					</div>
				</div>
				<div class="inner-bar-center"></div>
				<div class="inner-bar-right"></div>
			</div>
			<div class="app-inner-layout__wrapper">
				<div class="app-inner-layout__sidebar">
					<div class="app-layout__sidebar-inner dropdown-menu-rounded">
						<div class="nav flex-column">
							<div class="nav-item-header text-primary nav-item">Dashboards Examples</div>
							<a class="dropdown-item active" href="analytics-dashboard.html">Analytics</a> <a class="dropdown-item" href="management-dashboard.html">Management</a> <a class="dropdown-item"
								href="advertisement-dashboard.html">Advertisement</a> <a class="dropdown-item" href="index.html">Helpdesk</a> <a class="dropdown-item" href="monitoring-dashboard.html">Monitoring</a> <a
								class="dropdown-item" href="crypto-dashboard.html">Cryptocurrency</a> <a class="dropdown-item" href="pm-dashboard.html">Project Management</a> <a class="dropdown-item"
								href="product-dashboard.html">Product</a> <a class="dropdown-item" href="statistics-dashboard.html">Statistics</a>
						</div>
					</div>
				</div>
				<div class="app-inner-layout__content">
					<div class="container-fluid">
						<!-- contents start -->
						<div  class="tab-content">
							<a th:href="@{/component/list}">컴포넌트 리스트 페이지</a>
						</div>
						<!-- contents end -->
					</div>
				</div>
			</div>
		</div>
    </th:block>
    
    <!-- sub start -->
    <th:block layout:fragment="sub"></th:block>
    <!-- sub end -->
    
     <!-- script start -->
    <th:block layout:fragment="script">
    	<script th:inline="javascript">
    	
    	</script>
    </th:block>
    <!-- script end -->
</html>


